RewriteEngine On

# Redirection de /portfolio et /portfolio/index.html vers /projets
RewriteRule ^portfolio(/index\.html)?$ /projets [R=301,L]

# Redirection de /timeline-cv et /timeline-cv/index.html vers /a-propos
RewriteRule ^timeline-cv(/index\.html)?$ /a-propos [R=301,L]
