html {
    background-color: var(--color-main-lighter-50);
}

body {
    margin: initial;
    font-family: $font-noi;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*:focus-visible {
    outline: 2px solid var(--color-main);
    outline-offset: 4px;
}

pre {
    white-space: pre-wrap;
}
