@use 'assets/scss/variables/fonts' as *;

@font-face {
    font-family: $font-mango;
    font-display: swap;
    src: url('~/assets/fonts/mango-grotesk-variable.ttf') format('truetype');
}

@font-face {
    font-family: $hanken-grostesk;
    font-display: swap;
    font-weight: 100 900;
    src: url('~/assets/fonts/hanken-grotesk-variable.woff2') format('woff2-variations');
}

// Build result from nuxtjs/fontaine
@font-face { 
    font-family: $font-mango-fallback; 
    ascent-override: 122.2498%; 
    descent-override: 34.23%; 
    line-gap-override: 16.3%; 
    size-adjust: 61.3498%; 
    src: local("Segoe UI"); 
} 

@font-face {
    font-family: $font-mango-fallback;
    ascent-override: 122.6537%;
    descent-override: 34.343%; 
    line-gap-override:
    16.3538%;
    size-adjust: 61.1477%;
    src: local("Roboto"); 
} 

@font-face {
    font-family:$font-mango-fallback;
    ascent-override: 124.0809%;
    descent-override: 34.7426%;
    line-gap-override: 16.5441%;
    size-adjust: 60.4444%;
    src: local("Helvetica Neue");
}

@font-face {
    font-family: $font-mango-fallback; 
     ascent-override: 122.923%;
     descent-override: 34.4184%; 
     line-gap-override: 16.3897%;
     size-adjust: 61.0138%;
     src: local("Arial"); 
} 

@font-face { 
    font-family: $font-mango-fallback; 
    ascent-override: 130.6985%; 
    descent-override: 36.5956%;
    line-gap-override: 17.4265%; 
    size-adjust: 57.384%; 
    src: local("Noto Sans"); 
} 

// TODO: convert variable font to woff2
// @font-face {
//     font-display: swap;
//     font-family: $font-noi;
//     src:
//         // url('~/assets/fonts/noi-grotesk-variable.woff2') format('woff2'),
//         // url('~/assets/fonts/noi-grotesk-variable.woff') format('woff'),
//         url('~/assets/fonts/noi-grotesk-variable.ttf') format('truetype');
// }

// @font-face {
//     font-display: swap;
//     font-family: $font-space-mono;
//     font-weight: 400;
//     src:
//         url('~/assets/fonts/spacemono-regular-subset.woff2') format('woff2'),
//         url('~/assets/fonts/spacemono-regular-subset.woff') format('woff'),
//         url('~/assets/fonts/spacemono-regular-subset.ttf') format('truetype');
// }

// @font-face {
//     font-display: swap;
//     font-family: $font-space-mono;
//     font-style: italic;
//     font-weight: 400;
//     src:
//         url('~/assets/fonts/spacemono-italic-subset.woff2') format('woff2'),
//         url('~/assets/fonts/spacemono-italic-subset.woff') format('woff'),
//         url('~/assets/fonts/spacemono-italic-subset.ttf') format('truetype');
// }

// @font-face {
//     font-display: swap;
//     font-family: $font-space-mono;
//     font-weight: 700;
//     src:
//         url('~/assets/fonts/spacemono-bold-subset.woff2') format('woff2'),
//         url('~/assets/fonts/spacemono-bold-subset.woff') format('woff'),
//         url('~/assets/fonts/spacemono-bold-subset.ttf') format('truetype');
// }

// @font-face {
//     font-display: swap;
//     font-family: $font-space-mono;
//     font-style: italic;
//     font-weight: 700;
//     src:
//         url('~/assets/fonts/spacemono-bolditalic-subset.woff2') format('woff2'),
//         url('~/assets/fonts/spacemono-bolditalic-subset.woff') format('woff'),
//         url('~/assets/fonts/spacemono-bolditalic-subset.ttf') format('truetype');
// }