@use "sass:map";
@use "sass:math";
@use '../../../assets/scss/mixins/css-vars-map';
@use '../../../assets/scss/functions/list' as *;
@use '../../../assets/scss/functions/rem' as *;

$vars: (
    (
        vars: (
            sm: (
                font-size: rem(12),
                border-radius: rem(2),
                padding-block: rem(6) rem(4),
                padding-inline: rem(16),
            ),
            md: (
                font-size: rem(14),
                border-radius: rem(2),
                padding-block: rem(8) rem(4),
                padding-inline: rem(18),
            ),
        ),
        prefix: '',
    ),
);

@mixin size($size) {
    @include css-vars-map.deep-get($vars, $size, 'v-tag');
}
