$font-mango: 'Mongo grotesk';
$font-mango-fallback: 'Mongo grotesk fallback';
$font-mango-family: $font-mango, $font-mango-fallback, arial, sans-serif;
$hanken-grostesk: 'Hanken Grostesk';
$hanken-grostesk-fallback: 'Hanken Grostesk fallback';
$font-hanken-grostesk-family: $hanken-grostesk, $hanken-grostesk-fallback, arial, sans-serif;





