// https://iamvdo.me/en/blog/css-font-metrics-line-height-and-vertical-align
// https://css-tricks.com/how-to-tame-line-height-in-css/

$mango-metrics: (
    unitsperem: 1000,
    capheight: 700,
    xheight: 540,
    typoascender: 750,
    typodescender: -210,
    typolinegap: 100,
);